{% extends 'main/main.html' %}
{% load static %}

{% block content %}

   
    <div class="container text-dark fw-bold text-center mt-5">
        <h1 class="fw-bold">Horario</h1>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
            <thead class="thead-light fw-bold">
                <th scope="col">Hora</th>
                <th scope="col">Lunes</td>
                <td scope="col">Martes</td>
                <td scope="col">Miércoles</td>
                <td scope="col">Jueves</td>
                <td scope="col">Viernes</td>
                <td scope="col">Sabado</td>
                <td scope="col">Domingo</td>
            </thead>

        
            {% for hour in horario %} 
                <tr>
                    {% with hour_counter=forloop.counter0 %}
                        <th  class="fw-bold" scope="row">{{ hour_counter }}:00</th>
                    {% endwith %}

                {% for event in hour %}
                    {% if event.name is null %}
                        <td class="bg-light-gray"></td>
                    {% else %}
                        <td> {{ event.name }} </td>
                    {% endif %}
                {% endfor %}
                </tr>
                
            {% endfor %}
        
    </table>
</div>
<div class="container text-center">
    <a class="btn btn-warning text-dark fw-bold" href="{% url 'restablecer_horario' %}">Restablecer horario</a>
</div>

{% endblock content %}



