{% extends 'main/main.html' %}
{% load static %}

{% block link %}<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">{% endblock link %}

{% block content %}
<div class="container">
    
    <div>
        <h1 class="py-2 text-center mb-0">Horario sueño</h1>
        <p class="text-center small mb-2">Configura tu horario de sueño</p>
    </div>
    {% comment %} links petición horarios  {% endcomment %}
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center ">
          <li class="page-item m-2"><a class="page-link" href="{% url 'suenio' %}">Sueño</a></li>
          <li class="page-item m-2"><a class="page-link" href="{% url 'actividades_fijas' %}">Actividades Fijas</a></li>
          <li class="page-item m-2"><a class="page-link" href="{% url 'actividades_no_fijas' %}">Actividades no fijas</a></li>
        </ul>
    </nav>

    </div>

    <div class="container-sm">
        <div class="row justify-content-center">
            <form class="col-lg-6 bg-light border rounded border-gray" action="" method="POST">
                {% csrf_token %}
                <label class="form-label" for="horas_suenio">¿Cuántas horas semanalmente deseas dormir?</label>
                <input class="form-control w-auto mb-4" type="number" name="horas_suenio" id="horas_suenio" min="1" max="75" step="1" required>

                <label class="form-label" for="hora_maxima_levantar">¿A qué hora máximo te deseas levantar?</label>
                <input class="form-control w-auto mb-4" type="number" name="hora_maxima_levantar" id="hora_maxima_levantar" min="1" max="24" step="1" required>

                <label class="form-label" for="hora_maxima_acostar">¿A qué hora máximo te deseas acostar?</label>
                <input class="form-control w-auto mb-4" type="number" name="hora_maxima_acostar" id="hora_maxima_acostar" min="1" max="24" step="1" required>

                <label class="form-label" for="longitud_maxima_suenio">Longitud máxima de sueño</label>
                <input  class="form-control w-auto mb-4"type="number" name="longitud_maxima_suenio" id="longitud_maxima_suenio" min="1" max="12" step="1" required>


                <input type="submit" value="Enviar" class="btn btn-primary mx-auto d-block text-center btn-rounded btn-lg my-0 mb-3">

            </form>
        </div>
    </div>
    {% comment %} Se despliegan actividades creadas  {% endcomment %}

    <div class="container">
        {% if horario_suenio %}
          <h1 class="text-center py-5">Tu horario de sueño es:</h1>
          <div class="row">
            {% for horario in horario_suenio %}
              <div class="col-sm-3">
                <div class="bg-light border rounded border-gray mb-4 m-3 p-2">
                  <div class="panel-body">
                    <div class="col">
                      <p class="text-secondary">{{horario.name}}</p>
                    </div>
                    <div class="col">
                      <a class="btn btn-danger btn-sm text-right" href="{% url 'eliminar_suenio' ruta_suenio=horario.pk %}">Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
              {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div><div class="row">
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
</div>
{% endblock %}







