{% extends 'main/main.html' %}
{% load static %}


{% block content %}

<h1>Horario sueño</h1>
{% comment %} links petición horarios  {% endcomment %}
<div class="contenedor_links_horario">
    
    <div class="contenedor_link_suenio">
        <a href="{% url 'suenio' %}">1</a>
    </div>

    <div class="contenedor_link_actividades_fijas">
        <a href="{% url 'actividades_fijas' %}">2</a>
    </div>
    
    <div class="contenedor_link_actividades_no_fijas">
        <a href="{% url 'actividades_no_fijas' %}">3</a>
    </div>

</div>

<form action="" method="POST">
    {% csrf_token %}
    <label for="horas_suenio">¿Cuántas horas semanalmente deseas dormir?</label>
    <input type="number" name="horas_suenio" id="horas_suenio" min="1" max="75" step="1" required>

    <label for="hora_maxima_levantar">¿A qué hora máximo te deseas levantar?</label>
    <input type="number" name="hora_maxima_levantar" id="hora_maxima_levantar" min="1" max="24" step="1" required>

    <label for="hora_minima_levantar">¿A qué hora te deseas acostar mínimo?</label>
    <input type="number" name="hora_minima_levantar" id="hora_minima_acostar" min="1" max="24" step="1" required>

    <label for="longitud_maxima_suenio">Longitud máxima de sueño</label>
    <input type="number" name="longitud_maxima_suenio" id="longitud_maxima_suenio" min="1" max="12" step="1" required>

    <label for="longitud_minima_suenio">Longitud mínima de sueño</label>
    <input type="number" name="longitud_minima_suenio" id="longitud_minima_suenio" min="1" max="12" step="1" required>

    <label for="priority">Prioridad</label>
    <select name="priority" id="priority">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>

    <input type="submit" value="Enviar">

</form>

{% endblock %}